<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="clientSecretPath" value="client_secret.json" />
    <add key="docIds" value="1lobinc-AwI3TEV9civH4_GyTPvIaZ5aBCGTspj67eNQ;1_qG94LZtp1fxcswvxXg9Z6HvCcLOg-xxrGqo0jNHNwo" />
    <add key="pdfIds" value="0B3eXnAACJCqlWmlvWExrQjcyZFE" />
  </appSettings>
</configuration>