<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SourcesSection" type="GoogleDocumentsUnifier.SourcesConfigSection, GoogleDocumentsUnifier"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="clientSecretPath" value="client_secret.json" />
  </appSettings>
  <SourcesSection>
    <Sources>
      <add type="docId" id="1lobinc-AwI3TEV9civH4_GyTPvIaZ5aBCGTspj67eNQ"/>
      <add type="pdfId" id="0B3eXnAACJCqlWmlvWExrQjcyZFE"/>
      <add type="docId" id="1_qG94LZtp1fxcswvxXg9Z6HvCcLOg-xxrGqo0jNHNwo"/>
    </Sources>
  </SourcesSection>
</configuration>