<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="token" value="" />
    <add key="clientSecretPath" value="client_secret.json" />
    <add key="checklistId" value="1PNmME6eUpY3JoQpRDe9-gh92vaC8Y4gK" />
    <add key="casesId" value="1im1gLO4uQfX2ONRCIJU0x13RzWb33zSw" />
    <add key="empathyId" value="1gY6JCNcjP_OJy9mhfTJcrBiUOqXhASw0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>