@model Telegram.Bot.Types.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://t.me/@Model.Username">@@@Model.Username</a> is ready to receive messages.</p>
</div>
